<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.student.tyro">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:launchMode="singleTask"
        android:networkSecurityConfig="@xml/security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoTitle"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup,icon,theme,label">
        <activity
            android:name=".BookingWithCreditsSuccess"
            android:exported="false" />
        <activity
            android:name=".G2LicenceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BDEActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InconvenienceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReferalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AcceptTermsPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDs3RKDc1VWFfvaHlc_0ygZpPs9XSXjoqg" />

        <activity android:name=".LoginMapActivity" />
        <activity android:name=".PermissionsActivity" />
        <activity
            android:name=".UploadDocumentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".FAQActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InstructorsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".InstructorsDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Exampletimeslot"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfirmBookingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConversationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OtpActvity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StripePayment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".BookingSuccess"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChatActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".NotificationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TermsandConditionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyCards"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PerformanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LocationChange"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            tools:ignore="AppLinkUrlError">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

         <service
         android:name=".NotificationService.MyFirebaseInstanceIDService"
         android:exported="true">
         <intent-filter>
         <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
         </intent-filter>
         </service>

        <service
            android:name=".NotificationService.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>



        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher_round" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>

</manifest>